<%- include('header') %>

<section class="cmspage mtb-40">
    <div class="container">
      <h1 class="text-center about_heading"><span style="color: #386576;">ABOUT US</span></h1>
      <div class="row">
        <div class="col-md-8">
          <%= a.about %> 
         
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim dolorum assumenda at delectus aperiam
            consequatur tempore natus excepturi ducimus mollitia!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quisquam repellat recusandae dolore est
            quibusdam, magnam iure! Ut, nobis voluptates.
          </p>
          
          <button class="btn btn-success">Read more.....</button>
        </div>
        <div class="col-md-4 text-center">
          <img src="<%= a.image.url %>" alt="" height="350px">
        </div>
      </div>
    </div>
<!-- <section>
  <div class="container-fluid mt-4">
  <div class="container">
       
    <h2 class="text-center">About us & <b style="color:greenyellow;">online Shopping</b></h2>
    <br>
    <div class="row">
    
      <div class="row-lg-10"> 
      <h5 class="text-left"><%= a.about %></h5>
        <button class="btn btn-success">Read more.....</button>
      
        <div class="row-lg-9 text-right">
        
          
        <img src="<%= a.image.url %>"  width="400" >
       
        
     
  
          </div>
          </div>
          </div>
        
   
  </section>-->
  
  <section>
    </div><!--container-fluid-->
    <div class="container-fluid d mt-4">
    </div><!--container-fluid-->
    <div class="footer">
      <div class="container-fluid"
        style="background-color: #000000; padding-top: 30px; padding-bottom: 30px; color: white;">
        <div class="row">
          <div class="col-md-5 text-center">
            <br>
            <img src="https://technext.github.io/hexashop/assets/images/white-logo.png">

            <br><br>
          </div>
          <div class="col-md-7">

            <h2 class="f"><span style="color: violet;">CONTACT </span>US</h2>

            <p>We're a team focusing on redefining the way the hospitality industry works by bringing in concept based
              restaurants across India. We are truly committed to catering to the ever-changing cosmopolitan taste of
              the customer and revolutioning the F & B industry!</p>

            <!--address div row start-->
            <div class="row">
              <div class="col-md-6">
                <span style="color: red;">Address</span>
                <strong></strong>
                <br>
                6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021
                </span>
              </div>
              <div class="col-md-6">
                <span style="color: red;">Franchie Enquiry</span>
                <strong></strong>
                <br>
                Mobile:
                <a href="tel:09313663486"><b>+91 9313663486</b>
                </a>
                <br>
                Email:
                <a href="mailto:franchise@firstfiddle.in"><b>franchise@firstfiddle.in</b>
                </a>
                </span>
              </div>
            </div><!--row end-->
            <div class="row">
              <div class="col-md-6">
                <span style="color: red;">Address</span>
                <strong></strong>
                <br>
                6, Chanakyapuri Shopping Complex, 48, Malcha Marg, surat 110021
                </span>
              </div>
              <div class="col-md-6">
                <span style="color: red;">HR Enquiry</span>
                <strong></strong>
                <br>
                Mobile:
                <a href="tel:09313663486"><b>+91 9313663486</b>
                </a>
                <br>
                Email:
                <a href="mailto:franchise@firstfiddle.in"><b>franchise@firstfiddle.in</b>
                </a>
                </span>
              </div>
            </div><!--row end-->


          </div>
        </div><!--row  end-->
      </div><!--container-fluid-->
    </div><!--footer-->

    <div class="container-fluid" style="background-color: #000; padding-top: 30px; padding-bottom: 30px;">
      <div class="row" style="display: block;">
        <div class="text-center">
          <p class="copyright-text" style=" font-size:13px;color: white;margin-top: 0px;
            margin-bottom: 0rem;">PRIVACY POLICY | TERMS AND CONDITIONS | <a _ngcontent-ulr-c2="" routerlink="/blog"
              style="text-decoration: none; color: #fff;" ng-reflect-router-link="/blog"
              href="/blog">BLOG</a><br>COPYRIGHT © 2021 <a href="http://www.firstfiddle.in"
              style="color: white;text-decoration: none;" target="_blank">FIRST FIDDLE F&amp;B PRIVATE LIMITED</a></p>
        </div>
      </div>
    </div>
  
  </section>
  </body>

  </html>