<%- include('../../featured.ejs') %>

<%- include('../admin-sidebar.ejs') %>


<!-- blog-list  -->
<div class="w-3/5">
    <div class="flex justify-between mb-4">
        <div>
            <h1 class="text-3xl font-medium">View</h1>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row"><%= view._id %></th>
                    <td><%= view.title %></td>
                    <td><%= view.description %></td>
                    <td><img src="<%= view.image.url %>" alt=""></td>
                </tr>
        </tbody>
    </table>
</div>


<%- include('../../explore.ejs') %>